#jira
jira==1.0.3
oauthlib==1.1.2
requests==2.10.0
requests-oauthlib==0.6.1
requests-toolbelt==0.6.2
six==1.10.0
tlslite==0.4.9

#dateutil
python-dateutil==2.5.3

#Testing
flake8==2.6.0
mccabe==0.5.0
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==2.9.2
pytest-flake8==0.5

pretend==1.0.8
